body {
	background: linear-gradient(45deg, var(--orange) 0%, var(--dark-brown) 50%, var(--light_green) 100%);
	font-family: 'Bitter', serif;
}

h1 {
	font-size: 40px;
}

#main-image {
	width:100%
}

#main-div {
	width: 75%;
	padding: 20px;
	display: block;
	margin-left:  auto;
	margin-right: auto;
	background-color: var(--dark_green);
}

:root {
	--dark_green: #567E6A;
	--light_green: #69B57A;
	--orange: #E89D41;
	--dark-brown:#826358;
	--light-brown: #B59369;
}