body {
	/* background-image: radial-gradient(circle at right, var(--orange) 0%, var(--dark-brown) 50% , var(--light_green) 100% );  */
	background: linear-gradient(to top, var(--orange) 0%, var(--dark-brown) 50%, var(--light_green) 100%) ; 
	background-repeat: no-repeat;
	background-color: var(--orange);
 	font-family: 'Bitter', serif;
	font-size: 100%;
}

h1 {
	font-size: 200%;
}

#main-image {
	width:100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#main-div {
	width: 75%;
	height: 100%;
	padding: 20px;
	display: block;
	margin-left:  auto;
	margin-right: auto;
	/* background-color: var(--offwhite); */
}

:root {
	--dark_green: #567E6A;
	--light_green: #69B57A;
	--orange: #E89D41;
	--dark-brown:#826358;
	--light-brown: #B59369;

	/* test other colors */
	--dg: #014029;
	--mg: #025939;
	--offwhite: #F2EADF;
	--lo: #F29F80;
	--o: #F25430; 
}

@media screen and (min-width: 768px) {
	#main-image {
		width: 100%;
	}
	
}
