body {
	background-color: #FFAE42;
	font-family: 'Bitter', serif;
}

h1 {
	font-size: 40px;
}

#main-image {
	width:100%
}

#main-div {
	width: 70%;
	padding: 20px;
	display: block;
	margin-left:  auto;
	margin-right: auto;
	background-color: #567E6A;
}

:root {
	--dark_green: #1f3c35;
	--med_green: #22523B;
	--light_green: #567E6A;
	--orange: #DC7D2F;
	--yellow:#F0C548;
	--light_yellow: #F1B95C;
}